/* Below 1344px (smaller desktops) */
@media (max-width: 84em) {
  .hero {
    max-width: 110rem;
  }
  .heading-primary {
    font-size: 3.6rem;
  }
  .section-hero {
    padding: 3.6rem 0 8rem 0;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
